@model IEnumerable<Albergo.Models.Servizio>

@{
    ViewBag.Title = "Servizio";
}

<h2>Servizi</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCliente)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descrizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezzo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdCliente)
        </td>
        
    </tr>
}

</table>
